@import '../../.cache/wal/colors-waybar.css';

@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg rgba(0, 0, 0, 1);
@define-color main-fg @foreground;

/*
    ┏┓┏┓┳┓┏┓┳┓┏┓┓
    ┃┓┣ ┃┃┣ ┣┫┣┫┃
    ┗┛┗┛┛┗┗┛┛┗┛┗┗┛
*/

* {
    font-family: "Fira Sans SemiBold";
    font-weight: bold;
    font-size: 12px;
    min-height: 16px;
}

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

/*
    ┓ ┏┏┓┳┓┓┏┓┏┓┏┓┏┓┏┓┏┓┏┓
    ┃┃┃┃┃┣┫┃┫ ┗┓┃┃┣┫┃ ┣ ┗┓
    ┗┻┛┗┛┛┗┛┗┛┗┛┣┛┛┗┗┛┗┛┗┛
*/

#workspaces {
    padding: 4px 10px;
    margin: 4px 0px;
}

/* ALL workspace buttons (Focused + Unfocused) */
#workspaces button:hover {
/*
    opacity:1;
*/
}

/* Only focused workspace*/
#workspaces button.active {
    color:  @main-bg;
    background: @main-fg;
    border: none;
    padding: 1px 2px;
    margin: 1px 4px;
    transition: all 0.3s ease-in-out;
}

/* Unfocused workspace WITH opened Apps
   !!! Border style is valid for ALL buttons,
   Set seperate border style for every button. */
#workspaces button {
    color: @main-fg;
    background: @main-bg;
    padding: 1px 2px;
    margin: 1px 4px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

#workspaces button:not(.empty):not(.active) {
    padding: 1px 2px;
    margin: 1px 4px;
    color: @color5;

}

/*
   OTHER POSSIBLE DESIGN-ATTRIBUTES:
      #workspaces button.empty
      #workspaces button.persistent
      #workspaces button:not(.persistent)
      #workspaces button:not(.active) usw.
*/

/*
   ┏┳┓┏┓┏┓┓┏┓┳┓┏┓┳┓
    ┃ ┣┫┗┓┃┫ ┣┫┣┫┣┫
    ┻ ┛┗┗┛┛┗┛┻┛┛┗┛┗
*/

/*
#taskbar.empty {
    background: transparent;
}
*/

#taskbar {
    padding: 4px 10px;
    margin: 4px 0px;
}

#taskbar button {
    padding: 1px 4px;
    margin: 0px 4px;
    opacity: 1;
}

#taskbar button.active {
    background: rgba(255,255,255,.2);
    border-radius: 5;
    transition: all 0.3s ease-in-out;
    opacity:1;
}

#taskbar button:hover {
    border-radius: 5;
    transition: all 0.3s ease-in-out;
}

/*
    ┏┓┏┳┓┓┏┏┓┳┓
    ┃┃ ┃ ┣┫┣ ┣┫
    ┗┛ ┻ ┛┗┗┛┛┗
*/

#clock {
    font-family: "Futura Bk BT";
    font-weight: bold;
    font-size: 14px;
    color: @main-fg;
    padding: 2px 10px 0px 10px;
    margin: 4px 0px;
    opacity: 1;
}

#custom-timer {
    padding: 2px 10px 0px 10px;
    margin: 4px 0px;
    min-width: 30px;
}

/*
#custom-updates.green {
    background-color: #1CAC78;
    color: #FFFFFF;
}
*/

#custom-updates.yellow {
    color: #ff9a3c;
}

#custom-updates.red {
    color: #dc2f2f;
}

/*
    ┏┓┏┓┳┳┓┳┳┓┏┓┳┓  ┳┓┏┓┏┓┓┏┓┏┓┳┓┏┓┳┳┳┓┳┓
    ┃ ┃┃┃┃┃┃┃┃┃┃┃┃  ┣┫┣┫┃ ┃┫ ┃┓┣┫┃┃┃┃┃┃┃┃
    ┗┛┗┛┛ ┗┛ ┗┗┛┛┗  ┻┛┛┗┗┛┛┗┛┗┛┛┗┗┛┗┛┛┗┻┛
 */

#custom-appmenu, #quicklinks, #workspaces, #taskbar, #custom-timer, #devices, #system {
    background: @main-bg;
}

/*
    ┏┓┏┓┳┳┓┳┳┓┏┓┳┓  ┏┓┏┓┳┓┳┓┳┳┓┏┓       ┓  ┳┳┓┏┓┳┓┏┓┳┳┓
    ┃ ┃┃┃┃┃┃┃┃┃┃┃┃  ┃┃┣┫┃┃┃┃┃┃┃┃┓  ┏┓┏┓┏┫  ┃┃┃┣┫┣┫┃┓┃┃┃
    ┗┛┗┛┛ ┗┛ ┗┗┛┛┗  ┣┛┛┗┻┛┻┛┻┛┗┗┛  ┗┻┛┗┗┻  ┛ ┗┛┗┛┗┗┛┻┛┗
*/

/* inactiv widget modules */
#cpu, #memory, #mpris, #custom-spotify, #custom-mode, #custom-gpuinfo, #custom-ddcutil,
/* group "system" widgets */
#custom-updates, #custom-power, #custom-cliphist, #custom-mako, #idle_inhibitor,
/* group "devices" widgets */
#bluetooth, #pulseaudio, #network, #custom-ddc_brightness,
/* group "quicklinks" widgets */
#custom-filemanager, #custom-browser, #custom-terminal, #custom-editor,
/* groups + custom-appmenu */
#custom-appmenu, #quicklinks, #window, #devices, #system {
    padding: 0px 10px;
    margin: 4px 0px;
}

/*
    ┏┓┏┓┓ ┏┏┓┳┓┓ ┳┳┓┏┓  ┳┳┓┏┓┳┓┳┳
    ┃┃┃┃┃┃┃┣ ┣┫┃ ┃┃┃┣   ┃┃┃┣ ┃┃┃┃
    ┣┛┗┛┗┻┛┗┛┛┗┗┛┻┛┗┗┛  ┛ ┗┗┛┛┗┗┛
*/

#l-apps, #r-apps, #l-quicklinks, #r-quicklinks, #l-workspaces, #r-workspaces, #l-taskbar, #r-taskbar, #l-timer, #r-timer, #l-devices, #r-devices, #l-system, #r-system {
margin-top: 4;
margin-bottom: 4;
min-height:0px;
}

/*
    ┏┓┏┓┏┓┏┓
    ┣┫┃┃┃┃┗┓
    ┛┗┣┛┣┛┗┛
*/

/*  Not necessary because first widget. Removed from (config)
    modules so bar is flush with left edge of monitor.  */

#l-apps {
border-left: 15 solid transparent;
border-bottom: 30 solid @main-bg;
margin-left:0;
}

#r-apps {
border-left: 15 solid @main-bg;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#custom-appmenu, #l-apps, #r-apps {
    opacity: .6;
}

/*
    ┏┓┳┳┳┏┓┓┏┓┓ ┳┳┓┓┏┓┏┓
    ┃┃┃┃┃┃ ┃┫ ┃ ┃┃┃┃┫ ┗┓
    ┗┻┗┛┻┗┛┛┗┛┗┛┻┛┗┛┗┛┗┛
*/

#l-quicklinks {
border-left: 15 solid transparent;
border-bottom: 30 solid @main-bg;
margin-left:0;
}

#r-quicklinks {
border-left: 15 solid @main-bg;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#quicklinks, #l-quicklinks, #r-quicklinks {
    opacity: .4;
}

/*
    ┓ ┏┏┓┳┓┓┏┓┏┓┏┓┏┓┏┓┏┓┏┓
    ┃┃┃┃┃┣┫┃┫ ┗┓┃┃┣┫┃ ┣ ┗┓
    ┗┻┛┗┛┛┗┛┗┛┗┛┣┛┛┗┗┛┗┛┗┛
*/

#l-workspaces {
border-left: 15 solid transparent;
border-bottom: 30 solid @main-bg;
margin-left:0;
}

#r-workspaces {
border-left: 15 solid @main-bg;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#workspaces, #l-workspaces, #r-workspaces {
    opacity: .6;
}

/*
   ┏┳┓┏┓┏┓┓┏┓┳┓┏┓┳┓
    ┃ ┣┫┗┓┃┫ ┣┫┣┫┣┫
    ┻ ┛┗┗┛┛┗┛┻┛┛┗┛┗
*/

#l-taskbar {
border-left: 15 solid transparent;
border-bottom: 30 solid @main-bg;
margin-left:0;
}

#r-taskbar {
border-left: 15 solid @main-bg;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#taskbar, #l-taskbar, #r-taskbar {
    opacity: .4;
}

/*
   ┏┳┓┳┳┳┓┏┓┳┓
    ┃ ┃┃┃┃┣ ┣┫
    ┻ ┻┛ ┗┗┛┛┗
*/

#l-timer {
border-left: 15 solid transparent;
border-bottom: 30 solid @main-bg;
margin-left:0;
}

#r-timer {
border-left: 15 solid @main-bg;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#custom-timer, #l-timer, #r-timer {
    opacity: .4;
}

/*
    ┳┓┏┓┓┏┳┏┓┏┓┏┓
    ┃┃┣ ┃┃┃┃ ┣ ┗┓
    ┻┛┗┛┗┛┻┗┛┗┛┗┛
*/

#l-devices {
border-left: 15 solid transparent;
border-bottom: 30 solid @main-bg;
margin-left:0;
}

#r-devices {
border-left: 15 solid @main-bg;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#devices, #l-devices, #r-devices {
    opacity: .6;
}

/*
    ┏┓┓┏┏┓┏┳┓┏┓┳┳┓
    ┗┓┗┫┗┓ ┃ ┣ ┃┃┃
    ┗┛┗┛┗┛ ┻ ┗┛┛ ┗
*/

#l-system {
border-left: 15 solid transparent;
border-bottom: 30 solid @main-bg;
margin-left:0;
}

/*  Not necessary because last widget. Removed from (config)
    modules so bar is flush with right edge of monitor.  */

#r-system {
border-left: 15 solid @main-bg;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#system, #l-system, #r-system {
    opacity: .4;
}
