@import '../../.cache/wal/colors-waybar.css';

/*
    ┏┓┓ ┏┳┓  ┏┓┏┓┓ ┏┓┳┓┏┓
    ┃┃┃┃┃┃┃  ┃ ┃┃┃ ┃┃┣┫┗┓
    ┗┛┗┻┛┛┗  ┗┛┗┛┗┛┗┛┛┗┗┛
*/

@define-color middle-module rgba(0, 0, 0, 0.2);
/* waybar area/group colors*/
@define-color apps rgba(0, 0, 0, 0.6);
@define-color quicklinks rgba(0, 0, 0, 0.4);
@define-color workspaces rgba(0, 0, 0, 0.6);
@define-color taskbar rgba(0, 0, 0, 0.4);
@define-color clock @foreground;
@define-color misc rgba(0, 0, 0, 0.4);
@define-color timer rgba(0, 0, 0, 0.4);
@define-color devices rgba(0, 0, 0, 0.6);
@define-color system rgba(0, 0, 0, 0.4);
/* workspace text colors */
@define-color workspace_fg @foreground;
@define-color act_wrk_fg rgba(0, 0, 0, 1);
@define-color use_wrk_fg @color5;
/* workspace button-background colors */
@define-color workspace_bg rgba(0, 0, 0, 0.6);
@define-color act_wrk_bg @foreground;
/* taskbar button-background colors */
@define-color taskbar_bg rgba(255, 255, 255, 0.2);
/* updates-widget icon+text colors */
@define-color updates_green #a3be8c;
@define-color updates_yellow #ff9a3c;
@define-color updates_red #dc2f2f;

/*
    ┏┓┏┓┳┓┏┓┳┓┏┓┓
    ┃┓┣ ┃┃┣ ┣┫┣┫┃
    ┗┛┗┛┛┗┗┛┛┗┛┗┗┛
*/

* {
    font-family: "Fira Sans SemiBold";
    font-weight: bold;
    font-size: 12px;
    min-height: 16px;
}

window#waybar {
    color: @foreground;
    background: @middle-module;
}

tooltip {
    background: @background;
    color: @foreground;
    border-radius: 7px;
    border-width: 0px;
}

/*
    ┓ ┏┏┓┳┓┓┏┓┏┓┏┓┏┓┏┓┏┓┏┓
    ┃┃┃┃┃┣┫┃┫ ┗┓┃┃┣┫┃ ┣ ┗┓
    ┗┻┛┗┛┛┗┛┗┛┗┛┣┛┛┗┗┛┗┛┗┛
*/

#workspaces {
    padding: 4px 10px;

}

/* ALL workspace buttons (Focused + Unfocused) */
#workspaces button:hover {
}

/* Only focused workspace*/
#workspaces button.active {
    color:  @act_wrk_fg;
    background: @act_wrk_bg;
    border: none;
    padding: 1px 2px;
    margin: 1px 4px;
    transition: all 0.3s ease-in-out;
}

/* Unfocused workspace WITH opened Apps
   !!! Border style is valid for ALL buttons,
   Set seperate border style for every button. */
#workspaces button {
    color: @workspace_fg;
    background: @workspace_bg;
    padding: 1px 2px;
    margin: 1px 4px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:not(.empty):not(.active) {
    color: @use_wrk_fg;
    padding: 1px 2px;
    margin: 1px 4px;
}

/*
   OTHER POSSIBLE DESIGN-ATTRIBUTES:
      #workspaces button.empty
      #workspaces button.persistent
      #workspaces button:not(.persistent)
      #workspaces button:not(.active) usw.
*/

/*
   ┏┳┓┏┓┏┓┓┏┓┳┓┏┓┳┓
    ┃ ┣┫┗┓┃┫ ┣┫┣┫┣┫
    ┻ ┛┗┗┛┛┗┛┻┛┛┗┛┗
*/

/*
#taskbar.empty {
    background: transparent;
}
*/

#taskbar {
    padding: 4px 10px;
}

#taskbar button {
    padding: 1px 4px;
    margin: 0px 4px;
}

#taskbar button.active {
    background: @taskbar_bg;
    border-radius: 5;
    transition: all 0.3s ease-in-out;
}

#taskbar button:hover {
    border-radius: 5;
    transition: all 0.3s ease-in-out;
}

/*
    ┏┓┏┳┓┓┏┏┓┳┓
    ┃┃ ┃ ┣┫┣ ┣┫
    ┗┛ ┻ ┛┗┗┛┛┗
*/

#clock {
    font-family: "Futura Bk BT";
    font-weight: bold;
    font-size: 14px;
    color: @clock;
    padding: 2px 10px 0px 10px;
    opacity: 1;
}

#custom-timer {
    padding: 2px 10px 0px 10px;
    min-width: 30px;
}

/*
#custom-updates.green {
    color: @updates_green;
}
*/

#custom-updates.yellow {
    color: @updates_yellow;
}

#custom-updates.red {
    color: @updates_red;
}

/*
    ┏┓┏┓┳┳┓┳┳┓┏┓┳┓  ┏┓┏┓┳┓┳┓┳┳┓┏┓       ┓  ┳┳┓┏┓┳┓┏┓┳┳┓
    ┃ ┃┃┃┃┃┃┃┃┃┃┃┃  ┃┃┣┫┃┃┃┃┃┃┃┃┓  ┏┓┏┓┏┫  ┃┃┃┣┫┣┫┃┓┃┃┃
    ┗┛┗┛┛ ┗┛ ┗┗┛┛┗  ┣┛┛┗┻┛┻┛┻┛┗┗┛  ┗┻┛┗┗┻  ┛ ┗┛┗┛┗┗┛┻┛┗
*/

/* inactiv widget modules */
#cpu, #memory, #mpris, #custom-spotify, #custom-mode, #custom-gpuinfo, #custom-ddcutil,
/* group "system" widgets */
#custom-updates, #custom-power, #custom-copyq, #custom-mako,
/* group "devices" widgets */
#bluetooth, #pulseaudio, #wireplumber, #network, #custom-ddc_brightness, #custom-screenrecorder,
/* group "misc" widgets */
#custom-screenrecorder, #custom-misc, #idle_inhibitor,
/* group "quicklinks" widgets */
#custom-filemanager, #custom-browser, #custom-terminal, #custom-editor,
/* groups + custom-appmenu */
#custom-appmenu, #quicklinks, #window, #misc, #devices, #system {
    padding: 0px 10px;
}

/*
    ┏┓┏┓┓ ┏┏┓┳┓┓ ┳┳┓┏┓  ┳┳┓┏┓┳┓┳┳
    ┃┃┃┃┃┃┃┣ ┣┫┃ ┃┃┃┣   ┃┃┃┣ ┃┃┃┃
    ┣┛┗┛┗┻┛┗┛┛┗┗┛┻┛┗┗┛  ┛ ┗┗┛┛┗┗┛
*/

#l-apps, #r-apps, #l-quicklinks, #r-quicklinks, #l-workspaces, #r-workspaces, #l-taskbar, #r-taskbar, #l-misc, #r-misc, #l-timer, #r-timer, #l-devices, #r-devices, #l-system, #r-system {
background: transparent;
min-height:0px;
}

/*
    ┏┓┏┓┏┓┏┓
    ┣┫┃┃┃┃┗┓
    ┛┗┣┛┣┛┗┛
*/

/*  Not necessary because first widget. Removed from (config)
    modules so bar is flush with left edge of monitor.  */

#l-apps {
border-left: 15 solid transparent;
border-bottom: 30 solid @apps;
margin-left:0;
}

#r-apps {
border-left: 15 solid @apps;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#custom-appmenu {
    background: @apps;
}

/*
    ┏┓┳┳┳┏┓┓┏┓┓ ┳┳┓┓┏┓┏┓
    ┃┃┃┃┃┃ ┃┫ ┃ ┃┃┃┃┫ ┗┓
    ┗┻┗┛┻┗┛┛┗┛┗┛┻┛┗┛┗┛┗┛
*/

#l-quicklinks {
border-left: 15 solid transparent;
border-bottom: 30 solid @quicklinks;
margin-left:0;
}

#r-quicklinks {
border-left: 15 solid @quicklinks;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#quicklinks {
background: @quicklinks;
}

/*
    ┓ ┏┏┓┳┓┓┏┓┏┓┏┓┏┓┏┓┏┓┏┓
    ┃┃┃┃┃┣┫┃┫ ┗┓┃┃┣┫┃ ┣ ┗┓
    ┗┻┛┗┛┛┗┛┗┛┗┛┣┛┛┗┗┛┗┛┗┛
*/

#l-workspaces {
border-left: 15 solid transparent;
border-bottom: 30 solid @workspaces;
margin-left:0;
}

#r-workspaces {
border-left: 15 solid @workspaces;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#workspaces {
background: @workspaces;
}

/*
   ┏┳┓┏┓┏┓┓┏┓┳┓┏┓┳┓
    ┃ ┣┫┗┓┃┫ ┣┫┣┫┣┫
    ┻ ┛┗┗┛┛┗┛┻┛┛┗┛┗
*/

#l-taskbar {
border-left: 15 solid transparent;
border-bottom: 30 solid @taskbar;
margin-left:0;
}

#r-taskbar {
border-left: 15 solid @taskbar;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#taskbar {
background: @taskbar;
}

/*
    ┳┳┓┳┏┓┏┓
    ┃┃┃┃┗┓┃
    ┛ ┗┻┗┛┗┛
*/

#l-misc {
border-left: 15 solid transparent;
border-bottom: 30 solid @misc;
margin-left:0;
}

#r-misc {
border-left: 15 solid @misc;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#misc {
background: @misc;
}

/*
   ┏┳┓┳┳┳┓┏┓┳┓
    ┃ ┃┃┃┃┣ ┣┫
    ┻ ┻┛ ┗┗┛┛┗
*/

#l-timer {
border-left: 15 solid transparent;
border-bottom: 30 solid @timer;
margin-left:0;
}

#r-timer {
border-left: 15 solid @timer;
border-bottom: 30 solid transparent;
margin-right:-15;
}

/*
#custom-timer {
background: @timer;
}
*/

/*
    ┳┓┏┓┓┏┳┏┓┏┓┏┓
    ┃┃┣ ┃┃┃┃ ┣ ┗┓
    ┻┛┗┛┗┛┻┗┛┗┛┗┛
*/

#l-devices {
border-left: 15 solid transparent;
border-bottom: 30 solid @devices;
margin-left:0;
}

#r-devices {
border-left: 15 solid @devices;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#devices {
background: @devices;
}

/*
    ┏┓┓┏┏┓┏┳┓┏┓┳┳┓
    ┗┓┗┫┗┓ ┃ ┣ ┃┃┃
    ┗┛┗┛┗┛ ┻ ┗┛┛ ┗
*/

#l-system {
border-left: 15 solid transparent;
border-bottom: 30 solid @system;
margin-left:0;
}

/*  Not necessary because last widget. Removed from (config)
    modules so bar is flush with right edge of monitor.  */

#r-system {
border-left: 15 solid @system;
border-bottom: 30 solid transparent;
margin-right:-15;
}

#system {
background: @system;
}
