/* eb-garamond-regular-latin */
@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	src: local("EB Garamond Regular"), local("EBGaramond-Regular"), url(eb-garamond-regular-latin.woff2) format("woff2"), url(eb-garamond-regular-latin.woff) format("woff");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}
/* eb-garamond-regular-latin-ext */
@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	src: local("EB Garamond Regular"), local("EBGaramond-Regular"), url(eb-garamond-regular-latin-ext.woff2) format("woff2"), url(eb-garamond-regular-latin-ext.woff) format("woff");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
	font-display: auto;
}
/* eb-garamond-italic-latin */
@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	src: local("EB Garamond Italic"), local("EBGaramond-Italic"), url(eb-garamond-italic-latin.woff2) format("woff2"), url(eb-garamond-italic-latin.woff) format("woff");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}
/* eb-garamond-italic-latin-ext */
@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	src: local("EB Garamond Italic"), local("EBGaramond-Italic"), url(eb-garamond-italic-latin-ext.woff2) format("woff2"), url(eb-garamond-italic-latin-ext.woff) format("woff");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
	font-display: auto;
}

